# Rule W001 - Use full FQCN
---
- name: Example playbook
  gather_facts: false
  hosts: all
  become: false
  tasks:
    - name: Check for module FQCN
      register: x
      ec2_instance:
        state: running
        name: my_ec2
        region: us-east-1
        aws_access_key: "123"
        aws_secret_key: abc
    - name: Check for deprecated module
      ec2_asg:
        name: test
