# Rule W016 - Avoid loop style
---
- name: Example playbook
  hosts: all

  tasks:
    - name: Install python and go
      ansible.builtin.yum:
        name: "{{ item }}"
      with_items:
        - python
        - go
