# Rule W027 - Remove key in module defaults
---
- name: Example playbook
  hosts: localhost
  module_defaults:
    ansible.builtin.file:
      owner: root
      group: root
      mode: "0755"
  tasks:
    - name: Create file1
      ansible.builtin.file:
        state: touch
        path: /tmp/file1
        group: root
        mode: "0755"
